/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    color: #000000; /* Default text color */
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #630031; /* Maroon background for header */
    color: #ffffff; /* White text color for header */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Footer */
footer {
    background-color: #630031; /* Maroon background for footer */
    color: #ffffff; /* White text color for footer */
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Links */
a {
    color: #CF4420; /* Orange links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    color: #630031; /* Maroon titles */
}
